@charset "utf-8";

/* 사진 스킨 (latest) */
.gall_b_lt {position:relative;text-align:center}
.gall_b_lt .lat_title {margin-bottom:60px}
.gall_b_lt .lat_title a {font-size:2.4em;text-align:left;padding-bottom:10px;margin-bottom:10px;position:relative}

.gall_b_lt ul:after {display:block;visibility:hidden;clear:both;content:""}
.gall_b_lt ul {clear:both;display:inline-block}
.gall_b_lt li {float:left;width:250px;margin:0 58px 60px;text-align:center}
.gall_b_lt li:nth-child(4n) {clear:both}
.gall_b_lt li .pic_inner {text-align:center}
.gall_b_lt li .lt_img {position:relative;margin-bottom:20px;border-radius:50%;display:block}
.gall_b_lt li .lt_img img {min-width:250px;width:100%;min-height:250px;height:auto;border-radius:50%}
.gall_b_lt li .lt_img .more {display:none;background:url(./img/li_hover_bg.png) repeat;position:absolute;left:0;top:0;width:100%;height:100%;color:#fff;font-size:1.8em;font-family:'Nanum Square';line-height:250px;border-radius:50%;text-align:center}
.gall_b_lt li .lt_img .more:before {content:"";display:inline-block;position:absolute;left:0;top:125px;width:30px;height:2px;background:#fff}
.gall_b_lt li .lt_img .more:after {content:"";display:inline-block;position:absolute;right:0;top:125px;width:30px;height:2px;background:#fff}
.gall_b_lt li .lt_img:hover .more {display:block}
.gall_b_lt li .all_b_tit {display:inline-block;margin-bottom:5px;font-weight:bold;color:#3464bc;font-size:1.6em;font-family:'Nanum Square'}
.gall_b_lt li .lat_detail {height:20px;overflow:hidden;font-weight:bold;color:#000;font-size:1.6em;font-family:'Nanum Square'}

.gall_b_lt .empty_li {line-height:145px;color:#666;text-align:center;padding:0}
.gall_b_lt .empty_li:before {background:none;padding:0}

.gall_b_lt .lt_cmt {color:#4493fe}
